/* background color */
html {
    background-color: #ffffff;
}

#site-header {
    background-color: #fafafa;
}

code {
    background-color: #eaeaea;
}

/* foreground color */
body * {
    color: #222222;
}

.anchor svg {
    stroke: #222222;
}

/* background image */
.bg-img {
    opacity: 0.5;
    filter: blur(5px);
}
