// google fonts
body {
    font-family: "M PLUS 1p", sans-serif !important;
}

// twemoji
img.emoji {
    height: 1em !important;
    width: 1em !important;
    display: inline !important;
    margin: 0 .05em 0 .1em !important;
    vertical-align: -0.1em !important;
}

// post titles
.post-title {
    font-size: 1.5em !important;
    font-weight: 500 !important;
}

// post metadata
.post-meta .author {
    font-size: 0.88rem !important;
}

// block quote
blockquote {
    margin: 2em 0 2em 0 !important;
    padding: 1.2em 1.2em !important;
}

blockquote::after {
    content: none !important;
}

// bug? fix of pagination
.pagination {
    padding-inline-start: 0px !important;
}
