header {
  .logo {
    height: 1.0em;
    min-height: 1.0em;
    vertical-align: middle;
  }
}

.header-title {
  font-weight: normal;
}

.single {
  .content {
    p {
      margin: 1.0rem 0 !important;
    }

    ul,
    ol {
      margin: 0.0rem 0 !important;
    }

    > ul,
    > ol {
      margin: 1.0rem 0 !important;
    }
  }
}

.highlight {
  margin: 1.0rem 0 !important;
}
