@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap");

$global-font-family: "M PLUS 1p", sans-serif;
$header-title-font-family: "M PLUS 1p", sans-serif;
$global-line-height: 1.9rem;
