/* global text style */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&subset=japanese');
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanrp.min.css');

body {
    font-family: YakuHanRP, 'M PLUS 1p', sans-serif;
    font-weight: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


/* text style of contents */
.post-content {
    text-align: justify;
    line-height: 1.8em;
}


/* text style of headings */
.post-title, .archive h1 {
    font-weight: normal;
    font-size: 1.8rem;
}

.archive__post-title {
    font-weight: normal;
    font-size: 1.2rem;
}

@media (max-width: 683px) {
    .post-title, .archive h1 {
        font-weight: normal;
        font-size: 1.4rem;
    }

    .archive__post-title {
        font-weight: bold;
        font-size: 1.0rem;
    }
}


/* text style of code and link */
code, a {
    word-break: break-all;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}


/* table layout */
table{
    table-layout: auto;
}


/* twemoji */
img.emoji {
  height: 1em;
  width: 1em;
  display: inline;
  vertical-align: -0.1em;
}


/* sticky header */
.header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* color of logo cursur */
.logo__cursor {
    background: #ffcc66;
    width: 8px;
    animation-duration: 2s;
}
