/* global font family */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&subset=japanese');

body {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: normal;
}

/* font style of contents */
.post-content {
    text-align: justify;
    line-height: 1.8em;
}

/* font style of headings */
.post-title, .archive h1 {
    font-weight: normal;
    font-size: 1.8rem;
}

.archive__post-title {
    font-weight: normal;
    font-size: 1.2rem;
}


@media (max-width: 683px) {
    .post-title, .archive h1 {
        font-weight: normal;
        font-size: 1.4rem;
    }

    .archive__post-title {
        font-weight: bold;
        font-size: 1.0rem;
    }
}

/* table layout */
table{
    table-layout: auto;
}

/* sticky header */
.header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* color of logo cursur */
.logo__cursor {
    background: #ffcc66;
    width: 8px;
    animation-duration: 2s;
}

/* twemoji */
img.emoji {
  height: 1em;
  width: 1em;
  display: inline;
  vertical-align: -0.1em;
}
