/* font size */
p, li, td {
    font-weight: normal;
}

.post-content, .post-title {
    font-weight: normal;
}

.post-title {
    font-size: 2rem;
}

@media (max-width: 683px) {
    .post-title {
        font-size: 1.4rem;
    }
}

/* sticky header */
.header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 15px;
}

/* color of logo cursur */
.logo__cursor {
    background: #ffcc66;
    width: 8px;
    animation-duration: 2s;
}

/* twemoji */
img.emoji {
  height: 1em;
  width: 1em;
  display: inline;
  vertical-align: -0.1em;
}
